<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Buddy</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'trip_buddy/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'trip_buddy/css/style.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class='container-fluid'>
            <h1 class="navbar-brand">Hello {{request.session.username}}!</h1>
            <a class="navbar-brand ml-auto navbar-link" href="/destroy">Logout</a>
            <a href="/trips/new" class="btn btn-primary">Create a new trip!</a>
        </div>
    </nav>
    <div class="container">
        <h3>Your Trips:</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in user_trips %}
                <tr>
                    <th scope="row"><a href="/trips/{{trip.id}}">{{trip.destination}}</a></th>
                    <td>{{trip.start_date}}</td>
                    <td>{{trip.end_date}}</td>
                    <td>{{trip.plan}}</td>
                    <td><a href="/trips/{{trip.id}}/destroy">Remove</a> | <a href="/trips/{{trip.id}}/edit">Edit</a>
                    </td>
                </tr>
                {% endfor %}
                {% for trip in guest_trips %}
                <tr>
                    <th scope="row"><a href="/trips/{{trip.id}}">{{trip.destination}}</a></th>
                    <td>{{trip.start_date}}</td>
                    <td>{{trip.end_date}}</td>
                    <td>{{trip.plan}}</td>
                    <td><a href="/trips/{{trip.id}}/cancel">Cancel</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <h3>Other people's trips:</h3>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Want to join?</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in other_trips %}
                <tr>
                    <th scope="row"><a href="/trips/{{trip.id}}">{{trip.destination}}</a></th>
                    <td>{{trip.start_date}}</td>
                    <td>{{trip.end_date}}</td>
                    <td>{{trip.plan}}</td>
                    <td><a href="/trips/{{trip.id}}/join">Join</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>